@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
::-webkit-scrollbar{
    width: .5rem;
}

::-webkit-scrollbar-track{
    background: #76c89375;
}
::-webkit-scrollbar-thumb{
    background: #76C893;
}
::-webkit-scrollbar-thumb:hover{
    background: #57966d;
}
body{
    font-family: 'poppins';
    margin: 0;
}
a{text-decoration: none;}
p{margin: 0;}
ul{margin: 0;padding: 0;}
li{list-style-type: none;}
img{width: 100%;}


//-----------------Header-section-----------------//
header{
    display: flex;
    align-items: center;
    margin: auto;
    padding: 1.3rem 0;
    width: 80%;
}



.logo{
    flex: 1;

    img{
        width: 7.375rem;
    }
}




nav{
    flex: 2;
    display: flex;
    justify-content: center;

    ul{
        display: flex;
        align-content: center;
    }
    li{
        margin: 0 3rem;
    }
    a{
        color: #222;
        font-size: 0.875rem;
        font-weight: 400;
    }
    a:hover{
        color: #76C893;
    }
    .active{
        border-bottom: solid 0.125rem #76C893;
        transition: none;
    }
}




.button-container{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.button{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px #76C893;
    border-radius: 2px;
    height: 2.125rem;
    width: 6.625rem;
    transition: .2s ease-in-out;

    a{
        color: #76C893;
    }
    &:hover{
        background: #76C893;
        box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.25);
        a{
            color: #fff;
        }
    }
}




//-----------------main-section-------------------//
.hero-container{
    background-image: url('../svg/back.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    width: 85.375rem auto;
    height: 28.1875rem;
}




.hero{
    display: grid;
    margin: auto;
    height: 80%;
    width: 80%;
}


.image{
    img{
        width: 26.1875rem;
        height: 10.0625rem;
    }
}


.enroll-details{
    p{
        color: #fff;
        max-width: 25.9375rem;
        font-size: 0.875rem;
    }
}


.enroll-button{
    display: flex;
    align-items: center;

    svg{
        margin: 0 2rem;
    }
    path{
        animation: scroll ease 1.5s infinite
    }
}
@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(4px);
	}
}
.enroll{
    border: solid 2px white;
    border-radius: 2px;
    height: 2.125rem;
    width: 6.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    transition: .3s;
        
    a{
        color: white;
    }
    &:hover{
        background: #fff;
        box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.25);
        a{
            color: #76C893;
        }
    }
}




//-----------------social-section-------------------//
.social-container{
    padding: 1.5rem 0;

    ul{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    a{
        font-size: 1.125rem;
        font-weight: 500;
        color: #76C893;
        opacity: 50%;
        margin: 0 3rem;
        transition: .3s;
    }
    a:hover{
        opacity: 100%;
    }
}




// EMPLYOYEE CAROUSEL CODE
.advisers-container{
    margin: 0 0 4rem 0;
}
.title{
    display: grid;
    text-align: center;
    justify-content: center;
    padding: 4rem 0;
}
.title p{
    span{
        color: #76C893;
    }
}
.title p:nth-child(1){
    color: #222;
    font-size: 2.25rem;
    font-weight: 500;
}
.title p:nth-child(2){
    color: #76C893;
    font-size: 	1.125rem;
    font-weight: 400;
}



.carousel{
    position: relative;
    width: 60%;
    height: 28rem;
    margin: 0 auto;
}



.carousel__track-container{
    position: relative;
    height: 100%;
    overflow: hidden;
}


.carousel__track{
    position: relative;
    height: 100%;
    transition: transform .25s ease-in;

    .current-slide{
        background: none;
    }
}

.carousel__slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide__content-container{
    background: #fff;
    box-shadow: 0px 8px 15px -3px rgba(0, 0, 0, 0.25);
    width: 94%;
    height: 88%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide__content{
    display: flex;
    height: 100%;
}
.picture{
    background: #fff;
    width: 40% ;
    height: 100%;
    margin: 0 3rem 0 0;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.name{
    margin: 1rem 0 3rem 0;

    p:nth-of-type(1){
        font-size: 1.125rem;
        max-width: 20rem;
        font-weight: 600;
        text-transform: uppercase;
    }
    p:nth-of-type(2){
        font-size: 0.875rem;
        font-weight: 400;
        color: #76C893;
    }
}
.info{
    p{
        color: #C4C4C4;
        max-width: 20rem;
        font-size: 0.875rem;
        font-weight: 400;
    }
}


.carousel__button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
}

.carousel__button-left{    
    left: -2rem;
}
.is-hidden{
    display: none;
}
.carousel__button-right{
    right: -2rem;
}



.carousel__nav{
    display: flex;
    justify-content: center;
}
.carousel__indicator{
    background: #BBE3C9;
    border-radius: 50%;
    margin: 0 .2rem;
    border: 0;
    width: 7px;
    height: 7px;
    cursor: pointer;
}
.current-slide{
    background: #76C893;
}